@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap|100,200,300,400,500,600,700');

* {
    border: #000;
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Verdana', sans-serif;
    background-image: url("../images/shoes-434918_1920.jpg")no repeat !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .5s ease-in-out;
}

.navbar a {
    width: 20px;
    text-decoration: none;
    color: white;
    padding: 25px 10px;
}

nav h1 {

    padding-left: 55px;
    font-weight: 200;
    float: right;
    font-size: 30px;
    color: #0f979b;
}

nav-item ul {
    display: inline-block;
    margin: 10 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0;
    letter-spacing: .5rem;
    border-spacing: 8px;

}

ul li a:hover {
    background-color: turquoise;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    mix-blend-mode: darken;
}

ul li ul li {
    display: none;
}

ul li :hover ul li {
    color: rgb(238, 230, 223);
}

a.hvr-sweep-to-bottom:before {
    background: rgb(250, 224, 76);
    height: 60px;
}

nav ul li {

    padding: 42px 15px 2px 15px;
    margin: 0 8px;

    color: #09887d;

    cursor: pointer;
}

nav ul li:hover {
    color: #f1c856;
}

.active {
    background-color: rgb(15, 163, 143);
    font-weight: bold;
    float: right;
    justify-content: baseline right;
}

/*-------------------------------------------------------------Headings*/
header {
    margin: 0;
}

.heading {
    margin: 50px;
}

#nav {
    margin: 0;
}

#nav lI {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}


/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.bg-img {
    image: url("../images/2.jpg") no-repeat;
    position: cover;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #b0f1e4;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
    justify-content: right;
    position: fixed;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: rgb(218, 3, 3);
}

/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}